data-sample/toto/toto.nvdl

<?xml version="1.0" encoding="UTF-8"?>
<rules xmlns="http://purl.oclc.org/dsdl/nvdl/ns/structure/1.0"
    xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">
    
    <namespace ns="http://toto">
        <validate schema="toto.rng" ></validate>
        <validate schema="toto.xsd" ></validate>
       <!-- <validate schema="toto.sch"></validate>-->
    </namespace>
</rules>