data-sample/toto/toto.rng

<?xml version="1.0" encoding="UTF-8"?>
<grammar 
    xmlns="http://relaxng.org/ns/structure/1.0"
    xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0"
    datatypeLibrary="http://www.w3.org/2001/XMLSchema-datatypes">
    <start>
        <element name="toto" ns="http://toto">
            <element name="foo"><text/></element>
            <element name="bar"><text/></element>
            <element name="baz"><text/></element>
        </element>
    </start>
</grammar>